body{
    background-image: url("image/irasutoya_umi.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.top{
    text-align:center;
    background-color: white;
    border: gray 1px solid;
    border-radius:  10px 10px 10px 10px;
    width: 500px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.jikosyoukai{
    text-align:left;
    background-color: white;
    border: gray 1px solid;
    border-radius:  10px 10px 10px 10px;
    width: 500px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.koumoku{
    display: inline;
    font-size: 25px;
}

.link{
    width: fit-content;
    margin: auto;
}